body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;

}

a{
    color: #0645ad;
    text-decoration: none;
}
 /*aqui comienzan los estilos de el menu lateral */
.logo{
    cursor: pointer;
}

.menu-lateral-top{
    margin: 5px;
}

.menu-lateral{
    display: flex;
    flex-flow: column;
    width: 190px;
    height: max-content;
    align-items: center;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 20px;
}

.menu-lateral a{
    text-decoration: none;
}

.menu-lateral-mid ul li {
    list-style: none;
    margin-left: -32px;

}

.menu-lateral-bot ul li{
    list-style: none;
    margin-left: -32px;
    margin-bottom: 0px;
}

.menu-cat{
    width: 132px;
    margin-left: 8px;
    border-bottom: 1px solid #54595d;
    color: #54595d;
}
.menu-cat p{
    margin-bottom: 0px;
}

.idiomas{
    border: 1px solid #54595d;
    margin-left: -32px;
    padding: 5px 10px;
    align-items: center;
    border-radius: 2px;
    margin-top: 10px;
}

.edicion{
    margin-left: 48px;
    font-size: 12px;
}

.edicion a{
    color: #54595d;
}

/* aqui comienzan los estilos del menu superior*/
.contenido-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu-superior{
    width: 100%;
    height: 9%;
}
.cuenta{
    margin-top: -6px;
}

.cuenta ul{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 15px;
}

.cuenta ul li{
    list-style: none;
    margin-left: 10px;
}

.cuenta ul li a{
    font-size: 12px;
    font-family: sans-serif;
    text-decoration: none;
}

.usuario{
    width: 15px;
}

.gris{
    color: #54595d;

}

.pestanas{
    font-family: sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pestanas .izquierda{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.pestanas .derecha{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
}

.pestanas .izquierda a{
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid #a7d7f9;
    margin-right: 10px;
    line-height: 20px;
    padding-bottom: 11px;
    text-decoration: none;

}

.pestanas .derecha a{
    padding-left: 10px;
    padding-top: 10px;
    border-left: 1px solid #a7d7f9;
    margin-right: 10px;
    line-height: 20px;
    padding-bottom: 11px;
    text-decoration: none;
}

.pestanas .derecha input{
    margin-right: 10px;
    height: 25px;
    width: 300px;
    margin-top: -5px;
}

.ultimo{
    border-right: 1px solid #a7d7f9;
    padding-right: 10px;
}

/*aqui comienza lo del contenido*/

.contenido{
    padding: 40px;
    background-color: #ffffff;
    border:  1px solid #a7d7f9;
    font-family: sans-serif;
    font-size: 14px;
}

.contenido p{
    line-height: 20px;
}

.rojo{
    text-decoration: none;
    color: #ff0000;
}

.titulo{
    width: 100%;
    border-bottom: 1px solid #a2a9b1;
}
.subtitulo{
    width: 100%;
    border-bottom: 1px solid #a2a9b1;
    font-size: 15px;

}
.subtitulo a{
    text-decoration: none;
    font-size: 14px;

}
h1{
    margin: 0px;
    font-family: 'Times New Roman';
}

h2{
    margin: 0px;
    font-family: 'Times New Roman';
    margin-top: 20px;
}
h3{
    font-size: 12px;
    margin-left: 50px;
}

.indice{
    width: 195px;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
}
.indice ol li{
    line-height: 25px;
}
.indice a{
    text-decoration: none;
}

